<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ixinhoo.shopping.dao.question.QuestionDao">

    <resultMap id="beanMap" type="com.ixinhoo.shopping.entity.question.Question" extends="com.ixinhoo.api.entity.AuditEntity" >
		<result column="user_id" property="userId" />
		<result column="product_id" property="productId"  />
		<result column="q_name" property="qName"  />
		<result column="text" property="text" />
       
	</resultMap>
<!-- 表名称 --> 
	<sql id="table_name">feedback</sql>

	<!--集合显示的属性-->
	<sql id="base_column_list">
		id ,
		user_id,
		product_id ,
		text,
		q_name
		
	</sql>

	<!-- 基本的查询条件-->
	<sql id="base_where_clause">
		<where>
			<trim prefixOverrides="and">
				<if test="name != null and name !=''"> AND name = #{name}</if>
			</trim>
		</where>
		<if test="ccSort != null and ccSort != ''">
			ORDER BY ${ccSort} ${ccField}
		</if>

	</sql>

	<sql id="base_where_clause_limit">
		<include refid="base_where_clause" />
		<if test="ccStart != null and ccEnd != null">
			LIMIT #{ccStart}, #{ccEnd}
		</if>
	</sql>
   
   <insert id="insert" parameterType="com.ixinhoo.shopping.entity.question.Question">
		INSERT INTO <include refid="table_name" />(
		id,
		user_id,
		product_id,
		text,
		q_name,
		create_time,
		update_time
		)
		VALUES (
		#{id},
		#{userId},
		#{productId},
		#{text},
		#{qName},
		#{createTime},
		#{updateTime}
		)
	</insert>
</mapper>