<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.ixinhoo.shopping.dao.user.UserIntegralDao">

    <resultMap id="beanMap" type="com.ixinhoo.shopping.entity.user.UserIntegral" extends="com.ixinhoo.api.entity.AuditEntity" >
		<result column="user_id" property="userId" />
		<result column="sign_time" property="signTime"  />
		<result column="integral" property="integral" />


	</resultMap>

	<sql id="table_name">user_sign_integral</sql>

	<!--集合显示的属性-->
	<sql id="base_column_list">
		id ,
		user_id,
		sign_time ,
		integral
	</sql>

	<!-- 基本的查询条件-->
	<sql id="base_where_clause">
		<where>
			<trim prefixOverrides="and">
				<if test="status != null and status !=''"> AND status = #{status}</if>
				<if test="phone != null and phone !='' ">AND phone = #{phone}</if>

				<!-- 模糊查询 -->
				<if test="phoneLike != null and phoneLike!=''">AND phone LIKE CONCAT("%",#{phoneLike},"%")</if>
			</trim>
		</where>
		<if test="ccSort != null and ccSort != ''">
			ORDER BY ${ccField} ${ccSort}
		</if>

	</sql>

	<sql id="base_where_clause_limit">
		<include refid="base_where_clause" />
		<if test="ccStart != null and ccEnd != null">
			LIMIT #{ccStart}, #{ccEnd}
		</if>
	</sql>

	<select id="select" resultMap="beanMap" parameterType="java.util.Map">
		SELECT
		<include refid="base_column_list" />
		FROM <include refid="table_name" />
		<include refid="base_where_clause_limit" />
	</select>

	<select id="selectCount" resultType="java.lang.Long" parameterType="java.util.Map">
		SELECT count(id)
		FROM <include refid="table_name" />
		<include refid="base_where_clause" />
	</select>
	<select id="selectById" resultMap="beanMap" >
		SELECT
		<include refid="base_column_list" />
		FROM <include refid="table_name" />
		<where>
			id = #{id}
		</where>
	</select>

	<select id="selectByUserIdAndTime" resultMap="beanMap" >
		SELECT
		<include refid="base_column_list" />
		FROM <include refid="table_name" />
		<where>
			<![CDATA[
			user_id = #{userId} AND sign_time>=#{beginTime} AND sign_time<=#{endTime}
			 ]]>
		</where>
	</select>


	<select id="selectSumIntegralByUserId" resultType="java.lang.Long">
		SELECT SUM(integral)
		<include refid="base_column_list" />
		FROM <include refid="table_name" />
		<where>
			user_id = #{userId}
		</where>
	</select>


	<insert id="insert" parameterType="com.ixinhoo.shopping.entity.user.UserIntegral">
		INSERT INTO <include refid="table_name" />(
		id,
		create_id,
		create_time,
		update_id,
		update_time,
		user_id,
		sign_time ,
		integral
		)
		VALUES (
		#{id},
		#{createId},
		#{createTime},
		#{updateId},
		#{updateTime},
		#{userId},
		#{signTime},
		#{integral}
		)
	</insert>

	<delete id="deleteById" >
		DELETE FROM <include refid="table_name" />
		<where>
			id = #{id}
		</where>
	</delete>
	<update id="updateById" parameterType="com.ixinhoo.shopping.entity.user.UserIntegral">
		UPDATE <include refid="table_name" />
		<set>
			update_id = #{updateId},
			update_time = #{updateTime},
			user_id = #{userId},
			sign_time = #{signTime},
			integral = #{integral}
		</set>
		<where>
			id = #{id}
		</where>
	</update>



</mapper>